<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eric.come">
    <!-- 请求访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".activity.WebViewActivity"
            android:theme="@style/ThemeWebView" />

        <activity android:name=".activity.GuideActivity" />
        <activity
            android:name=".activity.AdvertisingActivity"
            android:theme="@style/ThemeAdvertising" />
    </application>

</manifest>